httpx==0.24.1
python-dotenv==1.0.0
python-telegram-bot==20.3
nest-asyncio==1.5.6
imgkit==1.2.3
pytz==2023.3
schedule==1.2.2
openai==1.52.2
requests==2.32.3
pyshorteners==1.0.1
pyTelegramBotAPI==4.26.0
yt-dlp==2024.12.13
browser_cookie==3-0.20.1